h1.merch-1{
    color: #ffffff;
}
h1.merch-1.on{
    color: #000000;
}
h2.merch-1{
    color: #ffffff;
}
h2.merch-1.on{
    color: #000000;
}
h3.merch-1{
    color: #ffffff;
}
h3.merch-1.on{
    color: #000000;
}
p.merch-1{
    color: #ffffff;
}
p.merch-1.on{
    color: #000000;
}
h1.merch-2{
    color: #ffffff;
}
h1.merch-2.on{
    color: #000000;
}
h2.merch-2{
    color: #ffffff;
}
h2.merch-2.on{
    color: #000000;
}
h3.merch-2{
    color: #ffffff;
}
h3.merch-2.on{
    color: #000000;
}
p.merch-2{
    color: #ffffff;
}
p.merch-2.on{
    color: #000000;
}
h1.merch-3{
    color: #ffffff;
}
h1.merch-3.on{
    color: #000000;
}
h2.merch-3{
    color: #ffffff;
}
h2.merch-3.on{
    color: #000000;
}
h3.merch-3{
    color: #ffffff;
}
h3.merch-3.on{
    color: #000000;
}
p.merch-3{
    color: #ffffff;
}
p.merch-3.on{
    color: #000000;
}
h1.merch-4{
    color: #ffffff;
}
h1.merch-4.on{
    color: #000000;
}
h2.merch-4{
    color: #ffffff;
}
h2.merch-4.on{
    color: #000000;
}
h3.merch-4{
    color: #ffffff;
}
h3.merch-4.on{
    color: #000000;
}
p.merch-4{
    color: #ffffff;
}
p.merch-4.on{
    color: #000000;
}
h1.merch-5{
    color: #ffffff;
}
h1.merch-5.on{
    color: #000000;
}
h2.merch-5{
    color: #ffffff;
}
h2.merch-5.on{
    color: #000000;
}
h3.merch-5{
    color: #ffffff;
}
h3.merch-5.on{
    color: #000000;
}
p.merch-5{
    color: #ffffff;
}
p.merch-5.on{
    color: #000000;
}
h1.merch-6{
    color: #ffffff;
}
h1.merch-6.on{
    color: #000000;
}
h2.merch-6{
    color: #ffffff;
}
h2.merch-6.on{
    color: #000000;
}
h3.merch-6{
    color: #ffffff;
}
h3.merch-6.on{
    color: #000000;
}
p.merch-6{
    color: #ffffff;
}
p.merch-6.on{
    color: #000000;
}
h1.merch-7{
    color: #ffffff;
}
h1.merch-7.on{
    color: #000000;
}
h2.merch-7{
    color: #ffffff;
}
h2.merch-7.on{
    color: #000000;
}
h3.merch-7{
    color: #ffffff;
}
h3.merch-7.on{
    color: #000000;
}
p.merch-7{
    color: #ffffff;
}
p.merch-7.on{
    color: #000000;
}
b.shop-1 {
    color: #ffffff;
}
b.shop-1.on {
    color: #000000;
}