h1.sponsor-1 {
    color: #ffffff;
}
h1.sponsor-1.on {
    color: #000000;
}
h1.sponsor-2 {
    color: #ffffff;
}
h1.sponsor-2.on {
    color: #000000;
}
h1.sponsor-3 {
    color: #ffffff;
}
h1.sponsor-3.on {
    color: #000000;
}
p.sponsor-1 {
    color: #ffffff;
}
p.sponsor-1.on {
    color: #000000;
}
p.sponsor-2 {
    color: #ffffff;
}
p.sponsor-2.on {
    color: #000000;
}
p.sponsor-3 {
    color: #ffffff;
}
p.sponsor-3.on {
    color: #000000;
}
b.sponsor-1 {
    color: #ffffff;
}
b.sponsor-1.on {
    color: #000000;
}